body {
  min-width: 300px;
  color: #fff;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  padding-bottom: 5rem; /* footer height */
  filter: drop-shadow(2px 2px 1px #222);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
